VITE_SUPABASE_URL=https://itaykvdfwqfoatqchyzs.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7Tb6mxyIjlgd36oxfRdOHg_FI9G-bl_
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_7Tb6mxyIjlgd36oxfRdOHg_FI9G-bl_
VITE_SUPABASE_ANON_KEY=your-legacy-anon-jwt-key
VITE_SERVER_API_BASE_URL=https://itaykvdfwqfoatqchyzs.supabase.co/functions/v1/server/api
